<!-- Import head -->
<%- include('../../shared/includes/head', { pageTitle: 'Login' }) %>
<!-- Stylesheet -->
<link rel="stylesheet" href="/styles/forms.css">    
<link rel="stylesheet" href="/styles/auth.css">    
</head>

    <body>
        <%- include('../../shared/includes/header.ejs') %>
            <main>
                <h1>Login</h1>
                <form action="/login" method="POST">
                     <!-- CSRF token -->
                     <input type="hidden" name="_csrf" value="<%= locals.csrfToken %> ">
                    <!-- Email -->
                    <div>
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" 
                        required>
                    </div>
                    <!-- Password -->
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" minlength="6" required>
                    </div>
                    <!-- Button -->
                    <div>
                        <button class="btn">Login</button>
                        <p>
                            <a id="switch-form" href="/signup">Create a new user</a>
                        </p>
                    </div>
                </form>
            </main>

<!-- Import footer -->
            <%- include('../../shared/includes/footer') %>