<!-- Import head -->
<%- include('../includes/head', { pageTitle: 'Signup' }) %>
<!-- Stylesheet -->
<link rel="stylesheet" href="/styles/forms.css">    
<link rel="stylesheet" href="/styles/auth.css">    
</head>

    <body>
        <%- include('../includes/header.ejs') %>
            <main>
                <h1>Create Account</h1>
                <form action="/signup" method="POST">
                    <!-- CSRF token -->
                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %> ">
                    <!-- Email -->
                    <div>
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" 
                        required>
                    </div>
                    <!-- Confirm Email -->
                    <div>
                        <label for="confirm-email">Confirm E-mail</label>
                        <input type="email" name="confirm-email" id="confirm-email" required>
                    </div>
                    <!-- Password -->
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" minlength="6" required>
                    </div>
                    <hr>
                    <!-- Full Name -->
                    <div>
                        <label for="fullname">Full Name</label>
                        <input type="text" name="fullname" id="fullname" required>
                    </div>
                    <!-- Street name -->
                    <div>
                        <label for="street">Street Name</label>
                        <input type="text" name="street" id="street" required>
                    </div>
                    <!-- Postal Code -->
                    <div>
                        <label for="postal">Postal Code</label>
                        <input type="text" name="postal" id="postal" minlength="4" maxlength="4" required>
                    </div>
                    <!-- City -->
                    <div>
                        <label for="city">City</label>
                        <input type="text" name="city" id="city" required>
                    </div>
                    <!-- Button -->
                    <div>
                        <button class="btn">Create Account</button>
                        <p>
                            <a id="switch-form" href="/login">Login instead</a>
                        </p>
                    </div>
                </form>
            </main>

<!-- Import footer -->
            <%- include('../includes/footer') %>